# Ignore datasets and zip files
*.zip
*.jsonl
*.docx
*.pptx
*.png
__MACOSX/
.DS_Store

# Glob match dataset folder due to bracket characters
*challenge*
*PUB*

# Ignore virtual environments
.venv/
venv/
__pycache__/
*.pyc

# Ignore local system directories
.gemini/
/temp_files/

# Precomputed models and files
faiss_index.bin
candidate_features.csv
candidate_ids.json
lightgbm_model.bin
sentence_transformer_model/
